
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h2{
  font-weight: x-large;
}

.loginBody {
  text-align: center;
  margin: auto;
  padding: 20px;
  width: 60%;
  background-color: rgb(47, 47, 71);
  color: white;
  
}