#mySidebar {
  background: #ffffff;
  grid-area: sidebar;
  overflow-y: auto;
  padding: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sidebar__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0055ff;
  margin-bottom: 30px;
  padding: 20px;
  /* color: #E85B6B; */
}



@media only screen and (max-width: 978px) {
  #sidebar {
    display: none;
  }

  .sidebar__title > i {
    display: inline;
  }
}

.navbarClass {
  background-color: #b92a97;
  padding-bottom: 20px;
  color: white;
}
