.mainContainer {
  margin: auto;
  text-align: center;
  padding: 40px;
  width: 80%;
  background-color: purple;
  color: white;
}

.wd-10{
  width: 100px;
}

.fr {
  float: right;
}

input{
  padding: 4px;
  margin: 4px;
  border: 1px solid black;
  border-radius: 4px;
  color: white;
}

div, p{
  color: white;
}

.options{
  background-color: rgb(31, 31, 26);
  width: 60%;
  margin: auto;
  padding: 8px;
}
