.TeacherView{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  background-color: aqua;
  padding: 20px;
}

.TeacherView input, textarea{
  border-radius: 20px;
}

textarea{
  text-align: center;
  padding: 2px;
}

body{
  background-color: black;
}

.score-card{
  width: 60%;
  margin: auto;
}

.score-card p, .score-card h2{
  color: white;
}

