.TeacherView{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  background-color: aqua;
  padding: 20px;
}

.TeacherView input, textarea{
  border-radius: 20px;
}

textarea{
  text-align: center;
  padding: 2px;
}
